#### 女友內心：他是不是在想別的女人？
#### 我內心：每次走在路上，手上有垃圾卻找不到垃圾桶丟就覺得很煩躁，是不是有某個地方的垃圾桶密度很少？那他不就很孤單？

# 目標：找出大安區最孤單的公共垃圾桶

In [202]:
from IPython.display import clear_output
import time
import numpy as np
import matplotlib.pyplot as plt
from ipywidgets import interact
import pandas as pd

%matplotlib inline

# 取得大安區公共垃圾桶資料

In [203]:
df = pd.read_csv('https://beta.data.taipei/api/getDatasetInfo/downloadResource?id=a835f3ba-7f50-4b0d-91a6-9df128632d1c&rid=f40cd66c-afba-4409-9289-e677b6b8d00e', encoding='big5')

In [204]:
df.head()

   序號  行政區 分隊別   路名 段、號及其他註明          經度         緯度                   其他註明
0   1  大安區  敦化  仁愛路   4段449號  121.557360  25.037926  嚴禁投入家用垃圾，違者重罰新台幣6000元
1   2  大安區  敦化  仁愛路   4段403號  121.555656  25.037846  嚴禁投入家用垃圾，違者重罰新台幣6000元
2   3  大安區  敦化  仁愛路   4段387號  121.555129  25.037984  嚴禁投入家用垃圾，違者重罰新台幣6000元
3   4  大安區  敦化  仁愛路   4段325號  121.553102  25.038020  嚴禁投入家用垃圾，違者重罰新台幣6000元
4   5  大安區  敦化  仁愛路   4段325號  121.553135  25.037909  嚴禁投入家用垃圾，違者重罰新台幣6000元

## 整理出經緯度就好

In [205]:
df.columns[:]

Index(['序號', '行政區', '分隊別', '路名', '段、號及其他註明', '經度', '緯度', '其他註明'], dtype='object')

In [206]:
df1 = df[['經度','緯度']]

In [207]:
df1

             經度         緯度
0    121.557360  25.037926
1    121.555656  25.037846
2    121.555129  25.037984
3    121.553102  25.038020
4    121.553135  25.037909
5    121.551633  25.037942
6    121.550887  25.038067
7    121.548088  25.038411
8    121.547507  25.038009
9    121.546244  25.038164
10   121.543921  25.038073
11   121.543998  25.038204
12   121.557556  25.042567
13   121.557491  25.039578
14   121.550114  25.039024
15   121.544045  25.041485
16   121.547824  25.041386
17   121.550338  25.041345
18   121.552802  25.041314
19   121.553710  25.041302
20   121.556131  25.041227
21   121.556227  25.041501
22   121.553523  25.041577
23   121.552396  25.041602
24   121.550184  25.041643
25   121.546501  25.041748
26   121.544096  25.041771
27   121.549146  25.042854
28   121.549132  25.039254
29   121.548518  25.042124
..          ...        ...
205  121.547500  25.037778
206  121.547500  25.037778
207  121.548107  25.037289
208  121.548577  25.036053
209  121.548537  25.035198
210  121.548532  25.033552
211  121.548476  25.029100
212  121.548495  25.028292
213  121.541713  25.033547
214  121.545641  25.033236
215  121.544435  25.033532
216  121.548223  25.033131
217  121.543294  25.025473
218  121.542962  25.025033
219  121.241967  25.025222
220  121.540830  25.025391
221  121.539077  25.025627
222  121.538680  25.025691
223  121.538127  25.025769
224  121.537450  25.029857
225  121.536437  25.025973
226  121.533826  25.030407
227  121.532700  25.033330
228  121.532939  25.033329
229  121.533171  25.033495
230  121.535645  25.033472
231  121.537287  25.033300
232  121.539167  25.033333
233  121.543357  25.033284
234  121.543303  25.026406

[235 rows x 2 columns]

## 有了經緯度，計算兩兩垃圾桶之間的距離

In [208]:
dist = []
dist_temp = []
R = 6371000           # 地球平均半徑(m)

for i in range(len(df1)):
    dist_temp.append(i)    # 加目前的編號到 dist_temp
    for j in range(len(df1)):
        dx = R*np.tan((3.14159265/180)*abs(df1.loc[i][0]-df1.loc[j][0]))   # 東西向距離 at little angle
        dy = R*np.tan((3.14159265/180)*abs(df1.loc[i][1]-df1.loc[j][1]))   # 南北向距離 at little angle
        dist_temp.append(((dx**2+dy**2)**0.5))    # 距離  
    dist.append(dist_temp)                      # 對於每個 i ，逐一把距離加到 dist 裡 
    dist_temp = []
print(dist[0][:15])      # 看一下第一組的前 15 個

[0, 0.0, 189.6848566663308, 248.15969932762602, 473.58335715368889, 469.80236836964934, 636.81583151760697, 719.93550272601749, 1032.408877990882, 1095.6424936045953, 1236.3260952005676, 1494.4380391460718, 1486.1081684708145, 516.51565954431692, 184.27066083142356]

## 所以說我們得到的 dist 的結構長這樣：

#### [   [編號0 , 和垃圾桶0的距離 , 和垃圾桶1的距離 , .....] , [編號1 , 和垃圾桶0的距離 , 和垃圾桶1的距離 , .....] , .........   ]

## 計算某個垃圾桶與其他垃圾桶的平均距離，記錄這當中平均距離最大的垃圾桶的編號

In [210]:
N = len(dist[0][1:])   # 「所有垃圾桶的距離」的總個數是固定的，設為 N
index=0                # 編號儲存區
max_dist = 0           # 最大平均距離儲存區


for i in range(1,len(df1)):
    if sum(dist[i][1:])/len(dist[i][1:]) > sum(dist[i-1][1:])/len(dist[i-1][1:]):
        if sum(dist[i][1:])/len(dist[i][1:]) > max_dist :
            index = i
            max_dist = sum(dist[i][1:])/N
print(index)

219

In [211]:
for i in range(10):
    print(len(dist[i][1:]))     # 檢查每組是否距離的個數都一樣

235
235
235
235
235
235
235
235
235
235

## 得到最孤單的垃圾桶

In [212]:
df[index:index+1]   # 印出最孤單的垃圾桶的資訊

      序號  行政區 分隊別    路名 段、號及其他註明          經度         緯度                   其他註明
219  220  大安區  瑞安  和平東路   二段181號  121.241967  25.025222  嚴禁投入家用垃圾，違者重罰新台幣6000元